In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/top-12-german-companies/Top_12_German_Companies NEW.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/kaggle/input/top-12-german-companies/Top_12_German_Companies NEW.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     384 non-null    object
 1   Period                      384 non-null    object
 2   Revenue                     384 non-null    int64
 3   Net Income                  384 non-null    float64
 4   Liabilities                 384 non-null    int64
 5   Assets                      384 non-null    int64
 6   Equity                      384 non-null    int64
 7   ROA (%)                     384 non-null    object
 8   ROE (%)                     384 non-null    object
 9   Debt to Equity              384 non-null    object
 10  percentage  Debt to Equity  384 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 33.1+ KB

In [5]:
df.head()

,Company,Period,Revenue,Net Income,Liabilities,Assets,Equity,ROA (%),ROE (%),Debt to Equity,percentage Debt to Equity
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,BMW AG,12/31/2017,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,BASF SE,12/31/2017,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [6]:
df['Period'].unique()

array(['12/31/2017', '12/31/2018', '12/31/2019', '12/31/2020',
       '12/31/2021', '12/31/2022', '12/31/2023', '12/31/2024',
       '3/31/2017', '3/31/2018', '3/31/2019', '3/31/2020', '3/31/2021',
       '3/31/2022', '3/31/2023', '3/31/2024', '6/30/2017', '6/30/2018',
       '6/30/2019', '6/30/2020', '6/30/2021', '6/30/2022', '6/30/2023',
       '6/30/2024', '9/30/2017', '9/30/2018', '9/30/2019', '9/30/2020',
       '9/30/2021', '9/30/2022', '9/30/2023', '9/30/2024'], dtype=object)

In [7]:
df['Net Income'][0]

516889818.4